* { 
	margin: 0; 
	padding: 0; 
}
body { 
	font-size: 62.5%; 
	font-family: Georgia, serif;
	background: top center no-repeat #233743; 
}
div {
	
	font-size: 0.9em;
	font-family: Arial;
	
}
h6 {
	font-size: 1.4em;
	margin-bottom: 15px;
	color: white;
}
a { color: white; }
label, li {
	display: block;
	padding: 3px;
	font-size: 1.4em;
	color: #e3f1fa;
}
fieldset {
	margin: 115px auto;
	width: 300px;
	padding: 8px 15px 15px 15px;
	border: 1px solid white;
	display: block; /* IE 7 Requires This */
	}
	legend {
		padding: 4px 6px 4px 6px;
		border: 1px solid white;
		font-size: 2.0em;
		color: #e3f1fa;
		font-style: italic;
	}
ul { list-style: none; margin-bottom: 15px;}
.results-bar {
	padding: 6px;
	color: white;
	background-color: #0FA200;
	white-space: nowrap;
}
span.total-votes {
	font-size: 2.6em;
}
h5 {
	font-size: 1.2em;
	color: red;
}






    .votesBar {
        width: 300px;
        height: 15px;
        border: 1px solid #111;
        background-color: #292929;
    }
    .votesBar div {
        height: 100%;
        color: #fff;
        text-align: right;
        line-height: 15px; /* same as #progressBar height if we want text middle aligned */
        width: 0;
        background-color: #0099ff;
    }